
body {
  background: #3a3737;
  margin: 0;
}
button {
  all: unset;
  cursor: pointer;
  padding: 1em;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
button div {
  background: #afaeae;
  width: 15px;
  height: 2px;
  border-radius: 2px;
  margin-block: 2px;
  transition: rotate 500ms ease, scale 100ms ease 100ms;
  transform-origin: 0 5%;
}

.open > div:nth-child(1) {
  rotate: 45deg;
  transform-origin: 10% 0%;
}
.open > div:nth-child(2) {
  scale: 0%;
}
.open > div:nth-child(3) {
  rotate: -45deg;
  transform-origin: 5% 100%;
}
.open + nav {
  translate: 0;
}
nav {
  transition: translate 400ms ease;
  translate: -100%;
}
ul {
  margin: 0;
  background: whitesmoke;
  list-style-type: none;
  color: rgb(15, 15, 15);
  padding: 1.5em;
}
li {
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}
li:hover {
  color: #bc721f;
  cursor: pointer;
}
@media (600px< width) {
  button {
    visibility: hidden;
  }
  nav {
    translate: 0px;
  }
  ul{
    display: flex;
    justify-content: space-around;
  }
}
